<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Expedia Flights</title>
  <script type="module" crossorigin src="/expedia-flights.js"></script>
  <link rel="modulepreload" crossorigin href="/utils-CEUOy6Iw.js">
  <link rel="modulepreload" crossorigin href="/expedia-flights-C5lgC7mL.js">
  <link rel="stylesheet" crossorigin href="/utils-DHmZPVDv.css">
</head>
<body>
  <div id="root"></div>
</body>
</html>

